<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/bootstrap.min.css")
	@Styles.Render("~/Content/bootstrap-responsive.min.css")
	<script type="text/javascript" src="~/Scripts/knockout-2.2.1.debug.js"></script>
	<script type="text/javascript">
		var HexCalcApp = {};
	</script>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
